.instructor_form {
    border: #ccc 1px solid;
    height: 80px;
    overflow-y: auto;
}
.instructor_form td {
    border: red 1px solid;
    float: left;
    padding: 0;
    border-collapse: collapse;
    white-space: nowrap;
    width: auto !important;
}
.instructor_form input[type="text"] {
    border: none;
    float: left;
    padding: 0 2px;
    vertical-align: text-bottom;
}
.instructor_form input[type="text"]:focus {
    outline: 0;
}
.instructor_form div {
    width: 100% !important;
    min-height: calc(100% - 2px);
    float: left;
}
.instructor_form button {
    background: none;
    border: none;
}
