.instructor-modal-opener {
    color: #000;
    margin-left: 10px;
}

#instructor-modal-utorid-row i {
    font-size: 40px;
    color: #aaa;
    margin-right: 10px;
    float: right;
}
#instructor-modal-utorid-row i:hover {
    color: #666;
}
#instructor-modal-utorid-row i:active {
    color: #333;
}
