/* admin control panel view */

#offers-grid #dropdown-menu {
  margin-bottom: 1vh;
}

#offers-grid .table-menu > .btn-group:first-child {
  margin-left: 3vw;
}

#offers-grid table {
  margin: 0;
}

/* for Table in admin view */
#offers-grid .sessions ~ .table-container .table-body {
  /* note that this assumes that the header is at most two rows high */
  max-height: calc(
          #{$main-div-height} - #{$table-menu-height} - #{$min-row-height} -
          #{$sessions-height} - 25px
  );
}

#offers-grid .table-body {
  /* note that this assumes that the header is at most two rows high */
  max-height: calc(
          #{$main-div-height} - #{$table-menu-height} - #{$min-row-height} - 25px
  );
  overflow: auto;
}

#offers-grid .table-container th {
  text-overflow: ellipsis;
}

#offers-grid .table-container td,
#offers-grid .table-container th {
  word-break: break-all;
}

#offer-note-popover .popover-content {
  text-align: right;
}

#offer-note {
  max-width: calc(276px - 15px * 2); /* don't allow the text area to be wider than the popover */
}

/* sessions menu used by hr_assistant */
#offers-grid #dropdown-menu #sessions {
  float: left;
  display: inline-block;
  margin: 0 5px;
}

#offers-grid .sessions {
  margin: 0 0 1.5vh 0;
}

#offers-grid .sessions .panel-body {
  height: calc(35px + 10px + 10px);
  padding: 10px 15px;
}

#offers-grid .sessions #pay {
  margin-left: 1vw;
}

#offers-grid .sessions #pay input {
  width: 100px;
}

#offers-grid #table-total {
  font-weight: bold;
  margin-top: 5px;
}

/* instructor view */
#instr-grid {
  $border: 1px solid black;
  $light-bg: #f9f9f9;
  $dark-bg: #e7e7e7;
  $ddah-width: 900px;
  $menu-height: 34px;

  #select-menu {
    width: auto;
    float: left;
    margin-right: 1vw;
  }

  #select-menu .panel-heading {
    padding: 10px 15px !important;
    height: 37px;
  }

  #select-menu .panel-body {
    padding: 0;
    overflow: auto;
  }

  #templates-menu {
    /* allow at most 6 templates to show */
    max-height: calc(6 * 30px);
  }

  #offers-menu {
    max-height: calc(#{$main-div-height} - 2 * 37px - 7 * 30px - 5px);
  }

  .applicant-menu {
    display: none; /* initially hide all applicant sub-menus */
  }

  #select-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #select-menu li {
    padding: 5px 15px;
    cursor: pointer;
  }

  #select-menu .panel-footer {
    padding: 5px 15px;
    cursor: pointer;
    background-color: #337ab7;
    color: white;
  }

  #select-menu #templates-menu li.active,
  #select-menu .applicant-menu li.active {
    background-color: #d9edf7;
  }

  #action-menu #submit,
  #action-menu #save {
    float: right;
  }

  #ddah-menu-container {
    width: calc(#{$ddah-width} + 60px);
    float: left;
  }

  #ddah-container {
    width: calc(#{$ddah-width} + 60px);
    padding: 20px 30px;
    border: 2px solid $dark-bg;
    margin-top: 1vh;

    max-height: calc(#{$main-div-height} - #{$menu-height} - 1vh);
    overflow: auto;
  }

  #ddah-container.disabled {
    opacity: 0.8;
  }

  #ddah-container.disabled * {
    pointer-events: none;
  }

  h3 {
    text-align: center;
    margin: 0 0 1vh 0;
  }

  table + table {
    margin-top: 2vh;
  }

  table {
    width: $ddah-width;
    margin: 0;
    max-width: none;
  }

  table th,
  table td {
    vertical-align: middle;
  }

  .title th {
    background-color: $light-bg;
    font-size: large;
    text-align: center;
    padding: 5px;
  }

  /* ddah header */

  #ddah-header {
    background-color: $dark-bg;
    border: $border;
  }

  #ddah-header tr:first-child td {
    padding-top: 10px;
  }

  #ddah-header tr td {
    padding: 3px 10px;
  }

  #ddah-header tr:last-child td {
    padding-bottom: 10px;
  }

  #ddah-header input[type="text"],
  #ddah-header select {
    width: 175px;
  }

  #ddah-header input[type="number"] {
    width: 4em;
  }

  #ddah-header label {
    font-weight: normal;
    margin: 0;
  }

  /* ddah allocations table */

  /* allocations table column widths */
  #allocations-table th:first-child,
    /* first column: # of units */
  #allocations-table th:nth-child(4),
    /* fourth column: time/task */
  #allocations-table th:nth-child(5) {
    /* fifth column: total time */
    width: 100px;
  }

  /* third column: type of unit */
  #allocations-table th:nth-child(3) {
    width: 350px;
  }

  #allocations-table .delete-button {
    font-size: 16px;
    color: red;
    background-color: white;
    opacity: 0.75;
    cursor: pointer;
    float: right;
    margin-right: -12px;
  }

  #allocations-table thead {
    background-color: $dark-bg;
  }

  #allocations-table th,
  #allocations-table td {
    text-align: center;
    border: $border;
  }

  #allocations-table input,
  #allocations-table select {
    width: 100%;
    height: 100%;
    border: 0;
    background: none;
  }

  #allocations-table tr:last-child {
    border-top: 3px solid;
  }

  #allocations-table td:last-child {
    background-color: $light-bg;
  }

  /* ddah training table */

  #training {
    border: $border;
  }

  #training .sub-table {
    width: auto;
  }

  #training thead {
    border-bottom: 3px solid;
  }

  #training tr,
  #training td {
    background-color: $dark-bg;
  }

  #training label {
    font-weight: normal;
    margin: 0;
  }

  #training .sub-table tr:first-child td {
    padding-top: 10px;
  }

  #training .sub-table tr td {
    padding-left: 10px;
    padding-right: 10px;
  }

  #training .sub-table tr:last-child td {
    padding-bottom: 10px;
  }

  /* ddah summary table */

  #summary-table thead {
    background-color: $dark-bg;
  }

  /* second column: total time */
  #summary-table th:nth-child(2) {
    width: 100px;
  }

  #summary-table th,
  #summary-table td:nth-child(2) {
    text-align: center;
    border: $border;
  }

  #summary-table td:first-child {
    text-align: left;
    border: $border;
    font-weight: bold;
  }

  #summary-table tr:last-child {
    border-top: 3px solid;
  }

  #summary-table td:last-child {
    background-color: $light-bg;
  }

  /* ddah signatures table */

  #signatures td {
    width: 300px;
    vertical-align: top;
  }

  #signatures td input {
    border: 1px solid black;
    padding: 3px;
  }

  #signatures .input-label {
    font-size: x-small;
  }

  #signatures tr + tr td {
    padding-top: 1vh;
  }

  #signatures td:first-child {
    text-align: left;
  }

  #signatures td:nth-child(2) {
    text-align: center;
  }

  #signatures td:nth-child(3) {
    text-align: right;
  }

  #signatures td:first-child input,
  #signatures td:nth-child(2) input {
    width: 220px;
  }

  #signatures td:nth-child(3) input {
    width: 120px;
  }
}

/* for "no selected course" message */
#no-selection {
  width: 50vw;
  margin: auto;
  text-align: center;
  color: #555;
}

/* ddah control panel view */

#ddahs-grid #dropdown-menu {
  margin-bottom: 1vh;
}

#ddahs-grid .table-menu > .btn-group:first-child {
  margin-left: 3vw;
}

#ddahs-grid table {
  margin: 0;
}

#ddahs-grid .table-body {
  /* note that this assumes that the header is at most two rows high */
  max-height: calc(#{$main-div-height} - #{$table-menu-height} - #{$min-row-height} - 25px);
  overflow: auto;
}

#ddahs-grid .table-container th {
  text-overflow: ellipsis;
}

#ddahs-grid .table-container td,
#ddahs-grid .table-container th {
  word-break: break-all;
}

#ddahs-grid #table-total {
  font-weight: bold;
  margin-top: 5px;
}

#ddahs-grid #dropdown-menu #sessions {
  float: left;
  display: inline-block;
  margin: 0 5px;
}

#drop-down, #drop-down li a{
  list-style: none;
  text-decoration: none;
  color: #555;
}
