/* for CourseMenu and CourseList */
.course-list-panel {
  width: 15em;
  float: left;
  margin: 0px 8px 0px 0px;
  height: var(--main-div-height);
}

.course-list-panel .panel-heading {
  padding: 5px 15px !important;
  height: 30px;
}

/* for CourseForm in Courses view */
#courses-grid #course-form {
  width: calc(100% - var(--course-list-panel-width));
  float: left;
  height: var(--main-div-height);
  overflow: auto;
}

/* for CourseForm */
.course-panel .fa-envelope-o{
  float: left;
}
#courses-grid {
  --text-input-height: 30px;
  --sep-width: 10px; /* width of margin between columns */
  --col-1-width: 220px; /* immutable course information */
  --col-2-4-width: 80px; /* numerical field labels */
  --col-3-5-width: 60px; /* numerical fields */
  --col-6-width: 140px; /* date fields */
  --col-7-width: 240px; /* instructor form */
}