#help {
  top: 76px !important;

  .popover-content {
    padding: 2px 12px 2px 2px !important;
    width: 300px;
    height: 400px;
  }

  .popover-content pre {
    width: calc(100% - 17px);
    height: 100%;
    resize: none;
    outline: 0;
    border: none;
    background: none;
    overflow-y: auto;
    cursor: default;
  }

  .arrow {
    top: 20px !important;

    &::after {
      border-right-color: #f7f7f7 !important;
    }
  }
}
