#help {
  top: 76px !important;
}
#help .popover-content {
  padding: 2px 12px 2px 2px !important;
  width: 300px;
  height: 400px;
}
#help .popover-content pre {
  width: calc(100% - 17px);
  height: 100%;
  resize: none;
  outline: 0;
  border: none;
  background: none;
  overflow-y: auto;
  cursor: default;
}
#help .arrow {
  top: 20px !important;
}
#help .arrow::after {
  border-right-color: #f7f7f7 !important;
}