<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <style>
    body, div, p, label, input, button{
      margin: 0; padding: 0;
    }
    div{
      width: 640px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
    }
    #pdf_view_port{
      width: 100vw;
      height: calc(100vh - 150px);
    }
  </style>

  <body>
    <embed id="pdf_view_port" type='application/pdf'/>
    <div>
    <p>I hereby accept the Teaching Assistanship position offered here:</p>
    <br/><br/>
    <label><input name="decision" type="radio" value="accept"/>Accept</label>
    <label><input name="decision" type="radio" value="reject"/>Reject</label>
    <br/>
    <label>To accept the contract type your name: <input type="text" name="signature_name" required="required"></label>
    <br/>
    <button>Submit</button>
    <div>

    <script>
      function fetchPdfData(){
        let data = {"contracts": '[<%= @contract_id %>]'}
        fetch("/contracts/print", {
          headers: {
            Accept: 'application/json',
            'Content-Type': 'application/json; charset=utf-8',
          },
          method: 'POST',
          body: JSON.stringify(data),
        }).then(function(response) {
          return response.blob();
        }).then(function(response) {
          let fileURL = URL.createObjectURL(response);
          let viewPort= document.getElementById("pdf_view_port");
          viewPort.setAttribute("src", fileURL);
        });
      }
      fetchPdfData();
    </script>
  </body>
</html>
