<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Decision View</h1>
    <button>Accept</button>
    <button>Reject</button>
  </body>
</html>
