/* global vars */
:root {
    --footer-height: 4vh; /* includes margins */
    --navbar-height: 71px; /* includes margins */
    --table-menu-height: calc(34px + 1vh);
    --main-div-height: calc(100vh - var(--navbar-height) - var(--footer-height));
    --min-row-height: 52px; /* assumes that header is two rows high */
    --sessions-height: calc(55px + 1.5vh);
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: var(--footer-height);
}

/* for footer (sticky bottom fixed-height footer) */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: calc(var(--footer-height) - 1vh);
    background-color: #f5f5f5;
    border: 1px solid #e7e7e7;
    margin-top: 1vh;
}

footer div {
    text-align: right;
}

footer div p {
    margin: 0;
}

/* for alerts */
#alert-container {
    position: relative;
    z-index: 5000;
    margin-top: var(--navbar-height);
}

#alert-container .alert {
    margin-bottom: 2px;
}

/* for load screen */
#loader {
    position: absolute;
    left: calc(50vw - 100px) !important;
    top: calc(50vh - 100px) !important;
    width: 100px !important;
    height: 100px !important;
    margin: 0 !important;

    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;

    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* applies to the first div after the navbar, which should be the main div container for the view, between the
 * navbar and the footer */
#root nav + div {
    top: 0;
    margin-top: var(--navbar-height);
    position: absolute;
    height: var(--main-div-height);
    width: 100%;
}

#offers-grid #dropdown-menu {
    margin-bottom: 1vh;
}

#offers-grid .table-menu > .btn-group:first-child {
    margin-left: 3vw;
}

#offers-grid table {
    margin: 0;
}

/* for Table in admin view */
#offers-grid .sessions ~ .table-container .table-body {
    /* note that this assumes that the header is at most one row high */
    max-height: calc(
        var(--main-div-height) - var(--table-menu-height) - var(--min-row-height) - var(--sessions-height)
    );
}

#offers-grid .table-body {
    /* note that this assumes that the header is at most one row high */
    max-height: calc(
        var(--main-div-height) - var(--table-menu-height) - var(--min-row-height)
    );
    overflow: auto;
}

#offers-grid .table-container th {
    text-overflow: ellipsis;
}

#offers-grid .table-container td,
#offers-grid .table-container th {
    word-break: break-all;
}

#offers-grid .sessions {
    margin: 0 0 1.5vh 0;
}

#offers-grid .sessions .panel-body {
    height: calc(35px + 10px + 10px);
    padding: 10px 15px;
}

#offers-grid .sessions #pay {
    margin-left: 1vw;
}

#offers-grid .sessions #pay input {
    width: 100px;
}

.highlightOnHover:hover {
    font-weight: bold;
    cursor: pointer;
}
