<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= @offer[:applicant][:first_name] %> <%= @offer[:applicant][:last_name] %>,</p>
    <p>
      You have successfully been choosen to TA <%= @offer[:position] %>
    </p>
    <p>
      Click the url below accept this offer: <%= @url %>.
    </p>
    <p>Have a great day!</p>
  </body>
</html>
