<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Dear <%= ENV["HR_ADMIN_NAME"] %>,</p>
    <p>There was a total of <%= @num_accepted %> offers that were accepted in the last <%= @time_elapsed %>.</p>
    <p>Have a great day!</p>
  </body>
</html>
