/* for CourseList contents in Courses view */
#courses-grid .course-list-group .list-group-item {
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* for CourseForm in Courses view */
#courses-grid #course-form {
  width: calc(100% - var(--course-list-panel-width));
  float: left;
  height: var(--main-div-height);
  overflow: auto;
}

/* for CourseForm */
.course-panel .fa-envelope-o{
  float: left;
}
#courses-grid {
  --text-input-height: 30px;
  --sep-width: 10px; /* width of margin between columns */
  --col-1-width: 220px; /* immutable course information */
  --col-2-4-width: 80px; /* numerical field labels */
  --col-3-5-width: 60px; /* numerical fields */
  --col-6-width: 140px; /* date fields */
  --col-7-width: 240px; /* instructor form */
}

/* for CourseForm */
.form-table {
  width: 100%;

  td {
    vertical-align: top;
  }

  .course {
    font-weight: bold;
  }

  /* margin between text boxes in the first five columns */
  .col-1 p + p,
  .col-2 p + p,
  .col-4 p + p,
  .col-3 form + form,
  .col-5 form + form {
    margin-top: 5px;
  }

  /* left padding for all but the left column */
  td + td {
    padding-left: var(--sep-width);
  }

  p {
    margin: 0;
  }

  input {
    width: 100%;
    height: var(--text-input-height);
  }

  /* immutable course information */
  .col-1 {
    width: var(--col-1-width);
  }

  /* numerical field labels */
  .col-2,
  .col-4 {
    width: var(--col-2-4-width);
  }

  .col-2 p,
  .col-4 p {
    height: var(--text-input-height);
    line-height: var(--text-input-height);
  }

  .col-2 p b,
  .col-4 p b {
    display: inline-block;
    vertical-align: middle;
    line-height: 1em;
  }

  /* numerical fields */
  .col-3,
  .col-5 {
    width: var(--col-3-5-width);
  }

  /* date fields */
  .col-6,
  .col-6 input {
    width: var(--col-6-width);
  }

  .col-7 {
    width: var(--col-7-width);
  }

  /* last 3 columns */
  textarea {
    width: 100%;
    height: 80px;
    float: left;
    resize: none;
  }
}
