.clickable {
    cursor: pointer;
}

.clickable:hover{
    opacity: .75;
}

.clickable:active {
    opacity: .9;
}

.highlightOnHover:hover {
    font-weight: bold;
    cursor: pointer;
}

.info-button {
    padding: 0;
    border: none;
    background: none;
    outline: 0;
}